<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="edu.illinois.bundleupdater.client"
         name="edu.illinois.bundleupdater.client"
         point="edu.illinois.bundleupdater">
      <plugin-to-update
            plugin-id="plugin-id"
            update-site="update-site">
      </plugin-to-update>
   </extension>

</plugin>
